assets/rush_fin_video.MP4 filter=lfs diff=lfs merge=lfs -text
assets/rush_pont.MP4 filter=lfs diff=lfs merge=lfs -text
assets/rush_rond-point.MP4 filter=lfs diff=lfs merge=lfs -text
assets/cap-velo.mp4 filter=lfs diff=lfs merge=lfs -text
